@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@600&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@600&display=swap');

body {
	background-color: black;
	color: white;
	padding: 1%;
}
#wrapper {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	margin: 20px;
}
header img {
	width: 10em;
	float: left;
}
main {
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 10px;
	text-align: right;
	float: right;
}
nav a {
	font-style: italic;
	padding: 0 8px;
}	
nav a:hover {
	color: #dd0000
}
h1 {
	font-size: 76px;
	font-family: "Grandstander";
	font-weight: 600;
	font-style: normal;
	text-align: center;
	padding: 0;
	margin: 30px 0 0 0;
} 
h2 {
	font-family: Oswald;
	text-align: center;
}
h3 {
	font-family: "Grandstander";
	text-align: center;
	font-size: 28px;
	padding: 0 0 0 300px;
	margin: 0;
}
h4 {
	font-family: "Grandstander";
	text-align: left;
}
p {
	color: white;
	font-size: 18px;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	width: 25em;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	margin: 20px;
	clear: both;
}
.portfolio {
	width: 25em;
	height: 28em;
	padding: 20px;
	margin: 20px 22px;
	float: left;
}
.portfolio img {
	height: 23em;
}
#project1 {
	background-color: orange;
}
#project2 {
	background-color: blue;
}
#project3 {
	background-color: pink;
}
#aboutme {
	margin: 20px
	padding:20px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "section";
	clear: both;
	height: 0;
}