@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@600&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@600&display=swap');

body {
	background-color: black;
	color: white;
	padding: 1%;
}
#wrapper {
	background-color: #333333;
	border: 1px black solid;
	padding: 20px;
	width: 96%;
}
header {
	background-color: pink;
	border: 1px black solid;
	padding: 2em;
	margin: 20px;
}
header img {
	width: 12%;
	float: left;
}
main {
}
nav {
	border: none;
	padding: 1em;
	text-align: right;
	float: right;
}
nav a {
	font-style: italic;
	padding: 0 8px;
}	
nav a:hover {
	color: #dd0000
}
h1 {
	font-size: 5em;
	font-family: "Grandstander";
	font-weight: 600;
	font-style: normal;
	text-align: center;
	padding: 0;
	margin: 30px 0 0 0;
} 
h2 {
	font-family: Oswald;
	text-align: center;
}
h3 {
	font-family: "Grandstander";
	text-align: center;
	font-size: 28px;
	padding: 0 0 0 300px;
	margin: 0;
}
h4 {
	font-family: "Grandstander";
	text-align: left;
}
p {
	color: white;
	font-size: 18px;
}
a {
	color: inherit;
	text-decoration: none;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	margin: 20px;
	clear: both;
}
#heroimage img {
	height: 20em;
}
.portfolio {
	align-items: center;
	width: 25%;
	height: 50%;
	padding: 1%;
	float: left;
}
.portfolio img {
	width: 100%;
	height: 80%;
}
#project1 {
	background-color: orange;
	margin: 2% 2% 2% 3%;
}
#project2 {
	background-color: blue;
	margin: 2%;
}
#project3 {
	background-color: pink;
	margin: 2% 3% 2% 2%;
}
#aboutme {
	margin: 20px
	padding:20px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}