@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@600&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@600&display=swap');

body {
	background-color: #333;
	color: white;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}	
h1 {
	text-align: center;
	font-size: 48px;
	font-family: "Grandstander";
	font-weight: 600;
	font-style: normal;
} 
h2 {
	font-family: Oswald;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
nav a {
	font-style: italic;
	padding: 0 8px;
}
p {
	color: white;
	font-size: 18px;
}
a {
	color: inherit;
	text-decoration: none;
}
img {
	width: 33%;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}