header {
	background-color: black
	padding: 20px;
}

body {
	background-color: black;
	color: white;
	font-family: helvetica;
}

h1, p {
	color: white;
}

a {
	color: inherit;
	text-decoration: none;
}
nav a {
	font-style: italic;
	margin-right: 10px;
}
footer {
	padding: 20px;
	text-align: center;
}
img {
	width: 33%;
}
#slogan {
	text-align: right;
}
#projects {
	display: table-row;
	list-style: none;
}
